/*  your css code here. If applicable */
body{
	background-color:rgb(46, 204, 113);
}

.book-library{
	background-color:#ffffff;
}
.Auther{
	color:#777777;
}
.Price-block{
	color:#2ecc71;
	background-color:rgb(46, 204, 113);
	border-radius:10px;
}